<a href="https://colab.research.google.com/github/rfmorera/Font10-Test/blob/master/Notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [106]:
from sklearn.model_selection import train_test_split
import pandas as pd
import numpy as np
from keras.models import Sequential
from keras.layers import Dense, Activation, Flatten
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import f1_score
from sklearn.metrics import accuracy_score, confusion_matrix
from keras.callbacks import ModelCheckpoint
from sklearn import preprocessing

In [107]:
url = 'https://raw.githubusercontent.com/rfmorera/Font10-Test/master/adultoclase-2.csv'
dataset = pd.read_csv(url, sep=';', header=None)
dataset.head()

   0                 1       2          3   ...  11  12             13     14
0  39         State-gov   77516  Bachelors  ...   0  40  United-States  <=50K
1  50  Self-emp-not-inc   83311  Bachelors  ...   0  13  United-States  <=50K
2  38           Private  215646    HS-grad  ...   0  40  United-States  <=50K
3  53           Private  234721       11th  ...   0  40  United-States  <=50K
4  28           Private  338409  Bachelors  ...   0  40           Cuba  <=50K

[5 rows x 15 columns]

In [112]:
print(str(dataset))
enc = preprocessing.OrdinalEncoder()
enc.fit(X)
enc.transform(dataset)

       0                 1       2          3   ...  11  12             13     14
0      39         State-gov   77516  Bachelors  ...   0  40  United-States  <=50K
1      50  Self-emp-not-inc   83311  Bachelors  ...   0  13  United-States  <=50K
2      38           Private  215646    HS-grad  ...   0  40  United-States  <=50K
3      53           Private  234721       11th  ...   0  40  United-States  <=50K
4      28           Private  338409  Bachelors  ...   0  40           Cuba  <=50K
...    ..               ...     ...        ...  ...  ..  ..            ...    ...
20779  39           Private  215419  Bachelors  ...   0  36  United-States  <=50K
20780  64                 ?  321403    HS-grad  ...   0  40  United-States  <=50K
20781  38           Private  374983  Bachelors  ...   0  50  United-States  <=50K
20782  44           Private   83891  Bachelors  ...   0  40  United-States  <=50K
20783  35      Self-emp-inc  182148  Bachelors  ...   0  60  United-States   >50K

[20784 rows x 15 columns]

ValueError: ignored

In [ ]:
y = dataset[14]
X = dataset.drop([14], axis=1)

# Split the dataset to trainand test data
train_X, test_X, train_y, test_y = train_test_split(X, y, test_size=0.10, random_state=0)

In [ ]:
parameters = {'bootstrap': True,
              'min_samples_leaf': 3,
              'n_estimators': 50, 
              'min_samples_split': 10,
              'max_features': 'sqrt',
              'max_depth': 6,
              'max_leaf_nodes': None}

In [ ]:
RF_model = RandomForestClassifier(**parameters)
train_X = pd.get_dummies(train_X)
test_X = pd.get_dummies(test_X)
print(test_y)
RF_model.fit(train_X, train_y)
RF_predictions = RF_model.predict(test_X)
score = accuracy_score(test_y ,RF_predictions)
c_mat = confusion_matrix(test_y ,RF_predictions)
print(score)